
.form-control {
    background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #e5e6e7;
    border-radius: 0;
    height: 50px;
    padding: 0px 20px;
}

.form-control:focus {
    border-color: #006DF0;
    outline: 0;
    box-shadow: none;
}
.btn{
  color: #fff;
  border-radius: 0;
  padding: 10px 30px;
}
.btn:focus {
    outline: 0;
    box-shadow: none;
}
.inputfile {
    width: 100%;
    opacity: 0;
    overflow: hidden;
    position: absolute;
}
.inputfile+label {
    width: 100%;
    max-width: 100%;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
}
.inputfile:focus+label, .inputfile.has-focus+label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}
.inputfile+label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
}
/* style 1 */

.inputfile-1+label {
    color: #565656;
    background-color: #b1b1b1;
}
.inputfile-1:focus+label, .inputfile-1.has-focus+label, .inputfile-1+label:hover {
    color: #d6d6d6;
    background-color: #808080;
}
/* style 2 */

.inputfile-2+label {
    color: #565656;
    border: 4px dotted #b1b1b1;
}
.inputfile-2:focus+label, .inputfile-2.has-focus+label, .inputfile-2+label:hover {
    color: #2b2b2b;
    border: 4px dotted #525252;
}
/* style 3 */

.inputfile-3+label {
    color: #717171;
}
.inputfile-3:focus+label, .inputfile-3.has-focus+label, .inputfile-3+label:hover {
    color: #000
}